# Build directories
build/
build-*/
out/
dist/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake-build-*/
*.cmake
!cmake/Modules/*.cmake
CTestTestfile.cmake
Testing/
*_autogen/

# IDE
.vscode/
.idea/
*.user
.vs/
*.sln
*.vcxproj*

# OS
Thumbs.db
Desktop.ini

# Binaries
*.exe
*.dll
*.pdb
*.lib
*.a
*.so
*.dylib
*.obj
*.o
*.exp
*.ilk
*.pch

# Logs
*.log

# Ninja
.ninja_deps
.ninja_log